header.header-waterfall {
  background: none;
}
header.header-waterfall::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  background-color: rgba(255,255,255,0.92);
  box-shadow:
    0 2px 5px rgba(0,0,0,0.05),
    0 4px 10px rgba(0,0,0,0.1);
  transition: opacity 160ms;
}
header.header-waterfall.hw-resting::before {
  opacity: 0;
}
header.header-waterfall > :not(label) {
  z-index: 1;
}

.in-text-list li {
  margin-bottom:  0.7em;
}

nav > a:nth-child(1)::before {
  box-shadow:
    0 12px 17px 2px rgba(26, 217, 211, 0.14),
    0 5px 22px 4px rgba(26, 217, 211, 0.2),
    0px 2px 4px 0 rgba(26, 217, 211, 0.26);
}
nav > a:nth-child(2)::before {
  box-shadow:
    0 12px 17px 2px rgba(26, 115, 232, 0.14),
    0  5px 22px 4px rgba(26, 115, 232, 0.2),
    0  2px  4px 0   rgba(84, 111, 146, 0.15);
}
nav > a:nth-child(3)::before {
  box-shadow:
    0 12px 17px 2px rgba(217, 26, 147, 0.14),
    0  5px 22px 4px rgba(217, 26, 147, 0.2),
    0  2px  4px 0   rgba(217, 26, 147, 0.1);
}
nav > a:nth-child(4)::before {
  box-shadow:
    0 12px 17px 2px rgba(26, 217, 96, 0.14),
    0  5px 22px 4px rgba(26, 217, 96, 0.2),
    0  2px  4px 0   rgba(26, 217, 96, 0.26);
}

nav #download-section, #download-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav #download-section img {
  width: 300px;
  margin: 12px 12px 0 12px;
}
nav #download-section > div > a {
  color: rgba(255,255,255,0.82);
  text-decoration: none;
  display: block;
  margin: 6px;
  font-weight: 500;
}
nav #download-section > div > a > span {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}
nav #download-section.upgraded {
  z-index: 1;
}

#scroll-down-indicator {
  position: absolute;
  bottom: 7vh;
  left: calc(50vw - 20px);
}
#scroll-down-indicator > svg {
  height: 40px;
  width: 40px;
  stroke: var(--color);
  opacity: 0.78;
  fill: none;
  stroke-width: 2px;
}
@keyframes scroll-down-anim {
  from {
    transform: none;
  }
  to {
    transofrm: translateY(8px);
  }
}
#scroll-down-indicator > svg line {
  animation: 1s cubic-bezier(0.57, 0.32, 0.44, 1.24) 3s infinite alternate both running scroll-down-anim;
  transform: translateY(8px);
}

#features .showcase.upgraded .phone-ss {
  display: block;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}
#features .showcase.upgraded .phone-ss.active {
  opacity: 1;
}

#tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.tab-header {
  flex: 1;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  position: relative;
  word-break: break-word;
}
.tab-header::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 14px;
  right: 14px;
  height: 3px;
  border-top: 3px solid var(--color);
  border-radius: 3px;
  opacity: 0;
  transform: scaleX(0);
  transition-property: transform, opacity;
  transition-duration: 160ms;
  transition-timing-function: ease-in-out;
}
.tab-header:hover::before, .tab-header:focus::before {
  opacity: 0.3;
  transform: scaleX(0.5);
}
input:checked+.tab-header::before {
  opacity: 1;
  transform: none;
}
.tab-content {
  display: block !important;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 160ms ease-in, transform 200ms ease-in;
}
input:checked+label+.tab-content {
  opacity: 1;
  transform: none;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 160ms;
}

#social-links a {
  background: none;
  padding: 8px 12px;
  position: relative;
}
#social-links img, #social-links span {
  z-index: 1;
}
#social-links a::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}
#twitter-link::before {
  background-color: #d1e3fa;
}
#instagram-link::before {
  background-color: #f7d1e9;
}
#telegram-link::before {
  background-color: #d1f7f6;
}
#support-link::before {
  background-color: #d1f7df;
}
#github-link::before {
  background-color: #d8d1f7;
}
#social-links a:hover::before,
#social-links a:focus::before {
  transform: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.8em 10vw;
  font-size: 13px;
  color: white;
  background: rgba(27, 126, 217, 0.8);
  position: absolute;
  right: 0;
  left: 0;
}
footer > .footer-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 1em 2em;
  max-width: 500px;
}
footer > .footer-column p {
  margin: 0.5em;
  text-align: center;
}

@media (min-width: 700px) {

  #download-section {
    position: absolute;
    top: 25px;
    right: 28px;
    background-color: #1ad960;
    border-radius: 4px;
    padding: 0 22px 22px 22px;
    opacity: 1;
    transform: none;
    transform-origin: top right;
    transition: all 200ms ease-in-out;
    box-shadow:
    0 12px 17px 2px rgba(26, 217, 96, 0.14),
    0  5px 22px 4px rgba(26, 217, 96, 0.2),
    0  2px  4px 0   rgba(26, 217, 96, 0.26);
  }
  #download-section.upgraded.collapsed {
    opacity: 0;
    transform: scale(calc(152/368), calc(40/228));
    pointer-events: none;
  }

}